ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.form-row:before, .form-row:after {
    display: table;
    content: " ";
}

.form-row:after {
    clear: both;
}

.form-row .form-label {
    float: left;
    width: 20%;
}

.form-row .form-control {
    float: left;
    width: 75%;
}

.form-row .resultados {
    clear: both;
    margin-left: 20%;
    border: 1px solid #000;
    width: 75%;
}

.form-row .resultados li {
    padding: 10px;
}